spring:
  redis:
    host: 192.168.2.128
    port: 7617
    password:
    jedis:
      pool:
        max-active: 50
        max-wait: -1
        max-idle: 10
        min-idle: 0
    database: 0

management:
  health:
    redis:
      enabled: false
logging:
  level:
    root:
      DEBUG

#debug:
#  true
